h3 { 
    margin: 20px 50px;
    font-size: 1em;
}

#products a, #products a:visited{
    display: block;
    margin: 10px 50px;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.product p {
    font-weight: 400;
}